.details-page-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 400;
    background: var(--white);
}

.details-page {
    padding-top: 2.5rem;
}

.details-page h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.details-page h1 button {
    background: transparent;
    outline: 0;
    border: 0;
    overflow: hidden;
}

.details-page h1 span {
    font-weight: 300;
}

.cart-details {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 13rem;
    align-items: start;
}

.cart-details-left {
    width: 100%;
    border-radius: 5px;
    height: 448px;
}

.cart-details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-details-right-title {
    width: 430px;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 16px;
    overflow: visible;
}

.cart-details-right-title::after {
    content: "";
    width: 430px;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    bottom: -4px;
}

.cart-details-right-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.more-details {
    position: relative;
    margin-top: 16px;
}

.more-details a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.07em;
    text-decoration: underline;
}

.item-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
}

.cart-details-right-line {
    width: 430px;
    height: 1px;
    background-color: #D5D5D5;
    margin-top: 20px;
}

.item-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.item-size h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.07em;
}

.item-size span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
}

.cart-details-right button {
    width: 430px;
    height: 40px;
    background: var(--pink);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 113px;
    gap: 10px;
    overflow: hidden;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: var(--white);
    border: none;
    outline: none;
    margin-top: 50px;
    cursor: pointer;
}



.details-page-tab-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
}

.details-page-tab-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #D5D5D5;
}

.details-page-tab-title div {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: relative !important;
    width: auto;
    cursor: default;
}

.activeaItemsTab {
    color: var(--pink) !important;
}

.details-page-tab-title div.activeaItemsTab::before {
    content: "";
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--pink) !important;
    z-index: 20;
    margin: auto;
}

/* ART TAB */
.art-description-tab {
    width: 100%;
    margin-top: 30px;
}

.art-description-tab h1 {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.art-description-tab span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--muted-light);
}

.also-available {
    margin-top: 5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.shop-detail-carousel-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden !important;
}

.shop-detail-carousel-container {
    width: 100%;
    height: 400px;
    overflow: hidden !important;
    border-radius: 5px;
}


@media only screen and (max-width: 1200px) {
    .cart-details {
        gap: 2rem;
    }

    .item-size {
        margin-top: 15px;
    }

    .cart-details-right button {
        width: 100%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .cart-details {
        margin-top: 1rem;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: start;
    }

    .cart-details-right button {
        width: 100%;
        margin-top: 20px;
    }
}